.latest-card

	&:not(:last-child)
		margin-bottom: 2rem

	@media #{$md-bp}
		&:not(:last-child)
			margin-bottom: 0rem

	&__inner
		box-shadow: $default-shadow

	&__img
		display: block
		width: 100%
