.subbanner
	height: 60vh
	display: flex
	align-items: center
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(~assets/images/subbanner.jpg)
	background-size: auto, cover
	background-position: 0rem 0rem, 50% 50%
	background-repeat: repeat, no-repeat

	&__title
		color: $white-color
		font-size: 3.50rem
		line-height: 5rem
		font-family: $display-font
		font-weight: $bold
		text-align: center

		@media #{$md-bp}
			font-size: 4.50rem
			line-height: 6rem

		@media #{$xl-bp}
			font-size: 7rem
			line-height: 8.50rem